.header {
    background-color: $darkBlue-bg-main;
    width: 100%;
    height: 4rem;

    &__container {

        max-width: 70rem;
        height: 100%;
        background-color: red;

        // max-width: 70rem;
        // margin: 0 auto;
    }
}

.navigation {

    // &__nav-list {

    // }

    // &__nav-item {

    // }

    // &__nav-link {

    // }

    // &__logo {

    // }
}