

.header {
    // background-color: orange;

    & .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // background-color: $darkBlue;

        &__nav-list {
            display: flex;

            padding: 1rem 2rem;
            // background-color: orange;

            & a:not(.navigation__logo) {
                padding: 1rem 2rem;
                color: $white;
                // background-color:red;
            }
        }

        &__logo {
            padding: 1rem 2rem;
        }
    }
}
