.main {

    &__container {

        & .services-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "a b"
                "c d";

            & .a {
                grid-area: a;
            }
    
            & .b {
                grid-area: b;
            }
    
            & .c {
                grid-area: c;
            }
    
            & .d {
                grid-area: d;
            }
    
    }


    }
}